version: '3.1.1'

services:
  web:
    image: my-app
    build: .
    ports:
      - "8080:80"
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    volumes:
      - ./app-data:/var/www/html/data


